  <head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="HETAS approved wood burner and multi fuel stove fitters, North Somerset, Bristol and surrounding areas. Stove, fireplace and chimney flue installation and remedial work. Free survey and quotation.">
    <meta name="keywords" content="wood burner,stove,chimney,wood stove,engineer,wood burner fitter,installer,installations,HETAS,Somerset,Bristol,Cheddar,fireplace,multifuel stove,wood burning stove">

    <title>{{ .Title }}</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="canonical" href="{{ .Permalink }}">

		<!--[if lt IE 9]>
			<script src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js"></script>
			<script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

   {{ partial "analytics.html" . }}

	</head>

