    <div id="header">
      <div class="banner">
        <div class="header-bar">
          <div class="container">
            <div class="hetas-approved">
              <a href="https://www.hetas.co.uk/business/?lng=-2.823032499999954&lat=51.3123037&dry-stove=filter&stove-with-boiler=filter&flues-chimneys=filter" target="_new" title="HETAS approved installers">Hetas approved installers</a>            </div>
            <div class="site-name"><a href="/">N.J. George Stove Installations</a></div>
            <div class="site-desc">HETAS approved stove and wood burner installers, North Somerset</div>
            <p class="telephone">Call us on <a href="tel:07812 412030">07812 412030</a> or <a href="tel:01934 843833">01934 843833</a></p>
          </div>
        </div>
      </div>
    </div>
